name: Deploy to Prod

on:
  push:
    branches:
      - master
      - feature/**

jobs:
  # this is needed to wait for the new docker image to be build and published to the registry
  # so that we can use the image to run ui of the needed commit related version as part of local-env
  # the idea is taken from here https://stackoverflow.com/a/71489231
  push_to_registry:
    uses: ./.github/workflows/docker-build-and-push.yml
    # without this it cannot login to the registry
    secrets: inherit

  deploy-to-prod:
    name: Deploy service to k8s for prod environment  
    needs: [push_to_registry]
    runs-on: self-hosted
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: Deploy
        run: |
            helmfile cache cleanup && helmfile apply --suppress-diff --namespace ${{ secrets.INNER_CIRCLE_PROD_NAMESPACE }} -f ci/helmfile.yaml \
            --state-values-set image.tag=sha-${{ github.sha }} \
            --state-values-set redirectAnnotation="if (\$host = ${{ secrets.SOURCE_DOMAIN }}) { return 302 https://${{ secrets.TARGET_DOMAIN }}$request_uri; }" \
            --state-values-set ingress.hostname=${{ secrets.DEV_HOST }} \
            --state-values-set ingress.extraHosts.name=${{ secrets.SOURCE_DOMAIN }} \
            --state-values-set ingress.extraHosts.path='/' \
            --state-values-set ingress.extraTls.hosts.name=${{ secrets.SOURCE_DOMAIN }} \
            --state-values-set ingress.extraTls.secretName=${{ secrets.SOURCE_DOMAIN }}-tls > ~/latest-layout.log 2>&1

  e2e-test-prod:
    runs-on: ubuntu-22.04
    container: cypress/browsers:node-18.14.1-chrome-111.0.5563.146-1-ff-111.0.1-edge-111.0.1661.54-1
    needs: [deploy-to-prod]
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4

      - name: E2E test on prod
        uses: cypress-io/github-action@v5
        with:
          browser: electron
        env:
          CYPRESS_BASE_URL: ${{ secrets.DEV_BASE_URL }}
          API_ROOT: '/api'
          API_ROOT_AUTH: '/api/auth'
          USER_LOGIN: ${{ secrets.DEV_USER_LOGIN }}
          USER_PASSWORD: ${{ secrets.DEV_USER_PASSWORD }}
          SOURCE_DOMAIN: ${{ secrets.SOURCE_DOMAIN }}
          TARGET_DOMAIN: ${{ secrets.TARGET_DOMAIN }}
          E2E_SHOULD_TEST_REDIRECT: 'true'
